# Core functionality - changes here should be rare!
/src/app.py                   @LaxmiNaarayanan
/src/backend/database.py      @LaxmiNaarayanan
/src/backend/routers/auth.py  @LaxmiNaarayanan

# The frontend will need refactored soon to be more object oriented.
/src/static/   @LaxmiNaarayanan
